@using Kartoa.Framework.MicroUIs.Enums;

<button type="@ButtonType" @onclick=@OnClick class="@GetButtonSizeClass(Size) @GetButtonColorClass(Color) @GetButtonShapeClass(Shape) @CustomClasses @(Full ? "w-full" : "w-fit") flex items-center justify-center gap-2 font-medium text-center rounded-lg focus:ring-4 focus:outline-none disabled:bg-gray-400" aria-label="@Text" disabled="@IsLoading">
  
    @if (IsLoading)
    {
        <div class="flex gap-1">
        <span>Please wait...</span>
        <svg aria-hidden="true" role="status" class="inline w-4 h-4 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB" />
            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor" />
        </svg>
        </div>
    }
    else
    {
        @if (Text != null)
        {
            <span>@Text</span>
        }
        else
        {
          @ChildContent
        }
    }


</button>

@code {
    [Parameter]
    public ButtonSize Size { get; set; } = ButtonSize.sm;

    [Parameter]
    public Shapes Shape { get; set; } = Shapes.rounded;

    [Parameter]
    public string? CustomClasses { get; set; }

    [Parameter]
    public Colors Color { get; set; } = Colors.secondary;

    
    [Parameter]
    public string? Text { get; set; }

    [Parameter]
    public bool ParentBg { get; set; }
    [Parameter]
    public bool IsLoading { get; set; }

    [Parameter]
    public bool Full { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter, EditorRequired]
    public string ButtonType { get; set; } = "submit";

    [Parameter]
    public EventCallback OnClick { get; set; }

    static string GetButtonSizeClass(ButtonSize size)
    {
        switch (size)
        {
            case ButtonSize.xxs:
                return "px-1 py-1 text-xs";
            case ButtonSize.xs:
                return "px-2 py-2 text-xs";
            case ButtonSize.sm:
                return "px-3 py-2 text-sm ";
            case ButtonSize.base_:
                return "px-5 py-2.5 text-sm";
            case ButtonSize.lg:
                return "px-5 py-3 text-base";
            case ButtonSize.xl:
                return "px-6 py-3.5 text-base";
            default:
                return string.Empty;
        }
    }
    static string GetButtonColorClass(Colors color)
    {
        switch (color)
        {
            case Colors.primary:
                return "bg-primary-700 border border-primary-200 hover:bg-primary-800 focus:ring-primary-300 text-white";
            case Colors.secondary:
                return "bg-white border border-gray-200 hover:bg-gray-100 text-gray-900 focus:ring-gray-200";
            case Colors.success:
                return "bg-green-700 border border-green-200 hover:bg-green-800 text-white focus:ring-green-200";
            case Colors.danger:
                return "bg-red-700 border border-red-200 hover:bg-red-800 text-white focus:ring-red-200";
            case Colors.gray:
                return "bg-gray-100 hover:bg-gray-200 text-gray-900 focus:ring-gray-300";
            case Colors.warning:
                return "bg-gray-100 hover:bg-red-200 text-gray-900 focus:ring-red-300";
            default:
                return string.Empty;
        }
    }
    static string GetButtonShapeClass(Shapes shape)
    {
        switch (shape)
        {
            case Shapes.rect:
                return "rounded-none";
            case Shapes.rounded:
                return "rounded-lg";
            case Shapes.circle:
                return "rounded-full";
            default:
                return string.Empty;
        }
    }
}
