*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container
{
    width: 800px;
    height: 500px;
    box-shadow: 0 0 2px;
    border: 1px groove;
    padding: 20px;
    border-radius: 8px;
    margin: 8% auto 0;
   
}  
.text{
   display: block;
    align-items: center;
    text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
} 
.text .name{
    font-size: 20px;
    color: gray;
    text-align: center;
}
.text .par{
    color: gray;
    font-size: 14px;
   
}
.meeting{ 
    display: flex;
    justify-content: space-between;
    border: none;
    width: 300px;
    height: 120px;
    background-color: white;
    border-top: 1px solid gray;
    padding: 12px;
    margin-left: 60px;
    margin-top: 50px;
}
.meeting:hover{
    background-color: lightgray;
}
.circle{
    
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: darkgoldenrod;
    display: inline-block;
}
.meeting-time{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.icon{
    display: block;
    text-align: center;
    align-items: start;
    color: black;
}
.cookies{
    display: flex;
    margin-top: 180px;
    color: lightskyblue;
}